# {{ ansible_managed }}

# Variables
#------------------------------------------------------------------------------
{{ ferm_variables }}

# Fuctions
#------------------------------------------------------------------------------
{{ ferm_functions }}

# Rules
#------------------------------------------------------------------------------
{{ ferm_rules }}

{% if ferm_hooks | bool %}
# Hooks
#------------------------------------------------------------------------------

{{ ferm_hooks }}
{% endif %}
